@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Fira+Sans:wght@100;300;400;500;700;900&display=swap");
@import "normalize.css";

:root {
    --font-sans: "Atkinson Hyperlegible", ui-sans-serif, sans-serif;
    --font-serif: Libertinus, ui-serif, serif;
    --font-mono: Fantastque Sans Mono, Fira Mono, Julia Mono, ui-monospace, monospace;
    --accent-color: #6f00ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

blockquote {
    margin: 0;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid rgb(223.1325301205, 225.9036144578, 229.3674698795);

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

ol ol,
ul ol {
    list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
    list-style-type: lower-alpha;
}

dd {
    margin-left: 0;
}

tt,
code {
    font-family: var(--font-mono);
    font-size: 12px;
}

kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px rgb(197.6939759036, 202.6771084337, 208.9060240964);
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
}

pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: var(--font-mono);
    font-size: 12px;
}

pre code,
pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

a {
    color: var(--accent-color);
}

header .title {
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 1.25;
    padding-bottom: 0.3em;
    font-size: 2em;
}

.container {
    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 32px !important;
    margin-bottom: 32px !important;
    padding-right: 32px !important;
    padding-left: 32px !important;
    font-family: var(--font-sans);
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.container::before {
    display: table;
    content: "";
}
.container::after {
    display: table;
    clear: both;
    content: "";
}
.container > *:first-child {
    margin-top: 0 !important;
}
.container > *:last-child {
    margin-bottom: 0 !important;
}
.container a:not([href]) {
    color: inherit;
    text-decoration: none;
}
