---
title: Informations et cours
layout: default
permalink: /
---

<!-- LTeX: language=fr" -->

## Nouvelles

- **2026-01-20** Premier cours de cette session le mardi 22 janvier 2026. *Be there and beware!*

## Infos pratiques

- **Quoi** « Apprendre à programmer », 4L6SC01P
- **Où** Salle L209, bâtiment Ricœur, Université Paris Nanterre, 200 avenue de la République,
  Nanterre
- **Quand** 12 séances, les jeudis de 10:30 à 12:30
  - Voir le calendrier de l'université pour les dates de vacances.
- **Contact** L. Grobol [`<lgrobol@parisnanterre.fr>`](mailto:lgrobol@parisnanterre.fr)

## Liens utiles

- Prendre rendez-vous pour des *office hours* en visio : [mon
  calendrier](https://calendar.app.google/N9oW2c9BzhXsWrrv9)
- [Espace Cours en Ligne](example.com)
  - Inscription libre avec la clé `rossum`
  - Attention, cet espace ne sert qu'aux dépôts de devoirs.
- [Page du cours de l'an dernier]({{site.url}}{{site.baseurl}}/2054)
- [Le dépôt Github](https://github.com/LoicGrobol/apprendre-programmer/) contient toutes les sources
  permettant de générer le matériel du cours.

## Séances

Pour utiliser un notebook, cliquez simplement sur l'icône « launch ». Attention, vos modifications
ne sont pas préservées si vous fermez ou actualisez l'onglet. Pensez donc à télécharger
régulièrement vos modifications (*File* → *Download*).

Vous pouvez aussi les télécharger pour les ouvrir sous votre machine, dans
[Edupyter](https://www.edupyter.net/) ou [Visual Studio Code](https://code.visualstudio.com/).

Une autre option, si vous avez un compte Google est d'utiliser
[Colaboratory](https://colab.research.google.com/) pour éditer les notebooks que vous avez
téléchargé.

### 2026-01-22 — Introduction, notebooks, entrées/sorties de bases et variables

- {{ notebook_link("00-introduction/infos-slides.py.ipynb", "Notebook Informations") }}
- {{ notebook_link("00-introduction/notebooks.py.ipynb", "Utiliser les notebooks Jupyter") }}
- {{ notebook_link("01-IO_variables_chaines/io_variables_chaines.py.ipynb", "Notebook IO et variables") }}
  - {{ notebook_link("01-IO_variables_chaines/solutions.py.ipynb", "Solutions") }}

À rendre pour la prochaine fois : exercices du notebook « IO et variables ».

Installer aussi l'environnement [Thonny](https://thonny.org).

Pour installer Thonny sous ChromeOS, c'est [un peu plus
sophistiqué](https://boldidea.org/static/thonny/chromebook.html), mais c'est possible.

Pour les tablettes sous iOS ou Android, ça ne sera pas possible. Tenez-moi au courant si vous n'avez
pas le choix et je ferai de mon mieux pour vous permettre de suivre.

### 2026-01-28 : Instructions conditionnelles

- {{ notebook_link("02-conditions/conditions.py.ipynb", "Notebook instructions conditionnelles") }}
  {# - {{ notebook_link("02-conditions/solutions.py.ipynb", "Solutions") }} #}

### 2026-02-05 : Boucles et séquences

- {{ notebook_link("04-index_listes_iter/index_listes_iter.py.ipynb", "Notebook Boucles et séquences") }}
  {# - {{ notebook_link("04-index_listes_iter/solutions.py.ipynb", "Solutions") }} #}


## Ressources

- [Real Python](https://realpython.com), des cours et des tutoriels souvent de très bonne qualité et
  pour tous niveaux.

### Cours et tutoriels

- [Le cours de France IOI](https://www.france-ioi.org/algo/chapters.php)
- [Le cours d'OpenClassroom](https://openclassrooms.com/fr/courses/7168871-apprenez-les-bases-du-langage-python)
- [Un MOOC](https://www.fun-mooc.fr/fr/cours/apprendre-a-coder-avec-python/) sur FUN
- [Google's Python Class](https://developers.google.com/edu/python/). Guido a travaillé chez eux.
  Pas [ce
  Guido](http://vignette2.wikia.nocookie.net/pixar/images/1/10/Guido.png/revision/latest?cb=20140314012724),
  [celui-là](https://en.wikipedia.org/wiki/Guido_van_Rossum)

Plus avancés :

- [Le tutoriel officiel](https://docs.python.org/fr/3/tutorial/) en français !
- [Practical Python](https://dabeaz-course.github.io/practical-python/Notes/Contents.html)
- [Python Mastery](https://github.com/dabeaz-course/python-mastery)

### Jeux de développement

- [Coding Game](https://www.codingame.com/home)
- [newcoder.io](http://newcoder.io/). Des projets commentés, commencer par 'Data Visualization'
- [Code combat](https://codecombat.com/)

### Livres

- *How to think like a computer scientist*, Jeffrey Elkner, Allen B. Downey, et Chris Meyers. Vous
  pouvez l'acheter. Vous pouvez aussi le lire
  [ici](http://openbookproject.net/thinkcs/python/english3e/)
- *Dive into Python*, Mark Pilgrim. [Ici](http://www.diveintopython3.net/) vous pouvez le lire ou
  télécharger le pdf.
- *Learning Python*, Mark Lutz.
- *Beginning Python*, Magnus Lie Hetland.
- *Python Algorithms: Mastering Basic Algorithms in the Python Language*, Magnus Lie Hetland.
  Peut-être un peu costaud pour des débutants.
- *Programmation Efficace. Les 128 Algorithmes Qu'Il Faut Avoir Compris et Codés en Python au Cours
  de sa Vie*, Christoph Dürr et Jill-Jênn Vie. Si le cours vous paraît trop facile. Le code Python
  est clair, les difficultés sont commentées. Les algos sont très costauds.

## Licences

[![CC BY Licence
badge](https://i.creativecommons.org/l/by/4.0/88x31.png)](http://creativecommons.org/licenses/by/4.0/)

Copyright © 2026 L. Grobol [\<lgrobol@tuta.com\>](mailto:lgrobol@tuta.com)

Sauf indication contraire, les fichiers présents dans ce dépôt sont distribués selon les termes de
la licence [Creative Commons Attribution 4.0
International](https://creativecommons.org/licenses/by/4.0/). Voir [le README](README.md#Licences)
pour plus de détails.

 Un résumé simplifié de cette licence est disponible à
 <https://creativecommons.org/licenses/by/4.0/>.

 Le texte intégral de cette licence est disponible à
 <https://creativecommons.org/licenses/by/4.0/legalcode>
